body {
    text-align: center;
    background: #7289DA;
    color: snow;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #6E87D7;
    text-decoration: none;
}

.link .linkimage {
    transition: 0.1s ease-in-out;
}

.link:hover .linkimage {
    border-radius: 25%;
}

.linkimage {
    border-radius: 50%;
    width: 95%;
}

.link {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    border-radius: 50%;
    height: 118px;
    width: 128px;
    cursor: pointer;
}

.join {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 3px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
.join:disabled {
    cursor: not-allowed;
    background-color: #4CAF50;
    opacity: 0.6;
}

.join span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.join span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.join:hover span {
    padding-right: 25px;
}

.join:hover span:after {
    opacity: 1;
    right: 0;
}

.modalimage {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background: #404040;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #232323;
    border-radius: 10px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 220px;
}

/* The Close Button */
.close {
    color: snow;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
